.button {
  font: inherit;
  border: 1px solid rgba(57, 173, 128, 0.74);
  background: rgb(57, 173, 128);
  color: white;
  padding: 0.75rem 3.5rem;
  cursor: pointer;
  font-size: 1.15rem;
  border-radius: 30px;
}

.button:hover,
.button:active {
  background:  #006400;
  border-color:  rgba(57, 173, 128, 0.74);
}
